{% extends 'base.html.twig' %}

{% block body %}
    {% block title %}Toutes les catégories{% endblock %}

    <h1>Toutes les catégories de la table category : </h1>
    {% for category in categories %}
        <div>
            <h2><a href="{{ path("category_show", {categoryName: category.name }) }}">{{ loop.index }} / {{ category.name }} - Catégorie : </a></h2>
        </div>
    {% else %}
        Aucune catégorie trouvée.<br />
    {% endfor %}
    <a href="{{ path('category_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}